.rt-m1 {
  margin: var(--rt-margin-1) !important;
}

.rt-m2 {
  margin: var(--rt-margin-2) !important;
}

.rt-m3 {
  margin: var(--rt-margin-3) !important;
}

.rt-m4 {
  margin: var(--rt-margin-4) !important;
}

.rt-mt1 {
  margin-top: var(--rt-margin-1) !important;
}

.rt-mt2 {
  margin-top: var(--rt-margin-2) !important;
}

.rt-mt3 {
  margin-top: var(--rt-margin-3) !important;
}

.rt-mt4 {
  margin-top: var(--rt-margin-4) !important;
}

.rt-mb1 {
  margin-bottom: var(--rt-margin-1) !important;
}

.rt-mb2 {
  margin-bottom: var(--rt-margin-2) !important;
}

.rt-mb3 {
  margin-bottom: var(--rt-margin-3) !important;
}

.rt-mb4 {
  margin-bottom: var(--rt-margin-4) !important;
}

.rt-ml1 {
  margin-left: var(--rt-margin-1) !important;
}

.rt-ml2 {
  margin-left: var(--rt-margin-2) !important;
}

.rt-ml3 {
  margin-left: var(--rt-margin-3) !important;
}

.rt-ml4 {
  margin-left: var(--rt-margin-4) !important;
}

.rt-mr1 {
  margin-right: var(--rt-margin-1) !important;
}

.rt-mr2 {
  margin-right: var(--rt-margin-2) !important;
}

.rt-mr3 {
  margin-right: var(--rt-margin-3) !important;
}

.rt-mr4 {
  margin-right: var(--rt-margin-4) !important;
}

.rt-my1 {
  margin-top: var(--rt-margin-1) !important;
  margin-bottom: var(--rt-margin-1) !important;
}

.rt-my2 {
  margin-top: var(--rt-margin-2) !important;
  margin-bottom: var(--rt-margin-2) !important;
}

.rt-my3 {
  margin-top: var(--rt-margin-3) !important;
  margin-bottom: var(--rt-margin-3) !important;
}

.rt-my4 {
  margin-top: var(--rt-margin-4) !important;
  margin-bottom: var(--rt-margin-4) !important;
}

.rt-mx1 {
  margin-left: var(--rt-margin-1) !important;
  margin-right: var(--rt-margin-1) !important;
}

.rt-mx2 {
  margin-left: var(--rt-margin-2) !important;
  margin-right: var(--rt-margin-2) !important;
}

.rt-mx3 {
  margin-left: var(--rt-margin-3) !important;
  margin-right: var(--rt-margin-3) !important;
}

.rt-mx4 {
  margin-left: var(--rt-margin-4) !important;
  margin-right: var(--rt-margin-4) !important;
}

.rt-p1 {
  padding: var(--rt-padding-1) !important;
}

.rt-p2 {
  padding: var(--rt-padding-2) !important;
}

.rt-p3 {
  padding: var(--rt-padding-3) !important;
}

.rt-p4 {
  padding: var(--rt-padding-4) !important;
}

.rt-pt1 {
  padding-top: var(--rt-padding-1) !important;
}

.rt-pt2 {
  padding-top: var(--rt-padding-2) !important;
}

.rt-pt3 {
  padding-top: var(--rt-padding-3) !important;
}

.rt-pt4 {
  padding-top: var(--rt-padding-4) !important;
}

.rt-pb1 {
  padding-bottom: var(--rt-padding-1) !important;
}

.rt-pb2 {
  padding-bottom: var(--rt-padding-2) !important;
}

.rt-pb3 {
  padding-bottom: var(--rt-padding-3) !important;
}

.rt-pb4 {
  padding-bottom: var(--rt-padding-4) !important;
}

.rt-pl1 {
  padding-left: var(--rt-padding-1) !important;
}

.rt-pl2 {
  padding-left: var(--rt-padding-2) !important;
}

.rt-pl3 {
  padding-left: var(--rt-padding-3) !important;
}

.rt-pl4 {
  padding-left: var(--rt-padding-4) !important;
}

.rt-pr1 {
  padding-right: var(--rt-padding-1) !important;
}

.rt-pr2 {
  padding-right: var(--rt-padding-2) !important;
}

.rt-pr3 {
  padding-right: var(--rt-padding-3) !important;
}

.rt-pr4 {
  padding-right: var(--rt-padding-4) !important;
}

.rt-py1 {
  padding-top: var(--rt-padding-1) !important;
  padding-bottom: var(--rt-padding-1) !important;
}

.rt-py2 {
  padding-top: var(--rt-padding-2) !important;
  padding-bottom: var(--rt-padding-2) !important;
}

.rt-py3 {
  padding-top: var(--rt-padding-3) !important;
  padding-bottom: var(--rt-padding-3) !important;
}

.rt-py4 {
  padding-top: var(--rt-padding-4) !important;
  padding-bottom: var(--rt-padding-4) !important;
}

.rt-px1 {
  padding-left: var(--rt-padding-1) !important;
  padding-right: var(--rt-padding-1) !important;
}

.rt-px2 {
  padding-left: var(--rt-padding-2) !important;
  padding-right: var(--rt-padding-2) !important;
}

.rt-px3 {
  padding-left: var(--rt-padding-3) !important;
  padding-right: var(--rt-padding-3) !important;
}

.rt-px4 {
  padding-left: var(--rt-padding-4) !important;
  padding-right: var(--rt-padding-4) !important;
}

.rt-round {
  border-radius: var(--rt-radius) !important;
}

.rt-round-sm {
  border-radius: calc(var(--rt-radius) - 4px) !important;
}

.rt-round-lg {
  border-radius: calc(var(--rt-radius) + 4px) !important;
}

.rt-round-full {
  border-radius: 9999px !important;
}

.rt-flex {
  display: flex !important;
}

.rt-flex-start {
  justify-content: flex-start !important;
}

.rt-flex-center {
  justify-content: center !important;
}

.rt-flex-end {
  justify-content: flex-end !important;
}

.rt-flex-between {
  justify-content: space-between !important;
}
